[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
pillow = "*"
tensorflow = "==2.4.0"
opencv-python = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
