[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
tensorflow = "*"
ipykernel = "*"
scikit-learn = "*"
keras = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
